
			<div class="c-blog__posts">
				<ul>
					<li class="anim anim--delay1 anim--up">
						<a href="blog-post.html" class="c-blog__item">
							<div class="o-photo">
								<img src=<%= require("./img/photos/blog/01.jpg") %> alt="" width="260" height="260">
							</div>
							
							<h4 class="o-lead--3">
								<strong>Ciekawy post o marketingu</strong>
							</h4>
						</a>
					</li>
					
					<li class="anim anim--delay2 anim--up">
						<a href="blog-post.html" class="c-blog__item">
							<div class="o-photo">
								<img src=<%= require("./img/photos/blog/02.jpg") %> alt="" width="260" height="260">
							</div>

							<h4 class="o-lead--3">
								<strong>Ciekawy post o marketingu ważny dla przedsiębiorcy</strong>
							</h4>
						</a>
					</li>
					
					<li class="anim anim--delay3 anim--up">
						<a href="blog-post.html" class="c-blog__item">
							<div class="o-photo">
								<img src=<%= require("./img/photos/blog/03.jpg") %> alt="" width="260" height="260">
							</div>

							<h4 class="o-lead--3">
								<strong>Jak tworzyć dobry RTM? - 5 przykładów</strong>
							</h4>
						</a>
					</li>
					
					
					
					<li class="anim anim--delay1 anim--up">
						<a href="blog-post.html" class="c-blog__item">
							<div class="o-photo">
								<img src=<%= require("./img/photos/blog/04.jpg") %> alt="" width="260" height="260">
							</div>
							
							<h4 class="o-lead--3">
								<strong>Jak planować działania w social media - 5 prostych kroków</strong>
							</h4>
						</a>
					</li>
					
					<li class="anim anim--delay2 anim--up">
						<a href="blog-post.html" class="c-blog__item">
							<div class="o-photo">
								<img src=<%= require("./img/photos/blog/05.jpg") %> alt="" width="260" height="260">
							</div>

							<h4 class="o-lead--3">
								<strong>Co to jest style guide i jakie elementy powinien zawierać</strong>
							</h4>
						</a>
					</li>
					
					<li class="anim anim--delay3 anim--up">
						<a href="blog-post.html" class="c-blog__item">
							<div class="o-photo">
								<img src=<%= require("./img/photos/blog/06.jpg") %> alt="" width="260" height="260">
							</div>

							<h4 class="o-lead--3">
								<strong>Księga identyfikacji wizualnej - do czego jest potrzebna?</strong>
							</h4>
						</a>
					</li>
					
					
					<li class="anim anim--delay1 anim--up">
						<a href="blog-post.html" class="c-blog__item">
							<div class="o-photo">
								<img src=<%= require("./img/photos/blog/01.jpg") %> alt="" width="260" height="260">
							</div>
							
							<h4 class="o-lead--3">
								<strong>Ciekawy post o marketingu</strong>
							</h4>
						</a>
					</li>
					
					<li class="anim anim--delay2 anim--up">
						<a href="blog-post.html" class="c-blog__item">
							<div class="o-photo">
								<img src=<%= require("./img/photos/blog/02.jpg") %> alt="" width="260" height="260">
							</div>

							<h4 class="o-lead--3">
								<strong>Ciekawy post o marketingu ważny dla przedsiębiorcy</strong>
							</h4>
						</a>
					</li>
					
					<li class="anim anim--delay3 anim--up">
						<a href="blog-post.html" class="c-blog__item">
							<div class="o-photo">
								<img src=<%= require("./img/photos/blog/03.jpg") %> alt="" width="260" height="260">
							</div>

							<h4 class="o-lead--3">
								<strong>Jak tworzyć dobry RTM? - 5 przykładów</strong>
							</h4>
						</a>
					</li>
				</ul>
			</div>
