<% include ./src/includes/head %>

<div class="o-container">

	<% include ./src/includes/hamburger %>
	<% include ./src/includes/nav %>

	<% include ./src/includes/oferta/header %>

	<div class="o-section o-section--padding">
		<div class="o-wrap">
			<header class="o-header">
				<h2 class="o-lead o-lead--2">
					<strong>Wybierz dziedzinę.</strong>
				</h2>
			</header>
			
			
			<div class="c-offer">
				<ul>
					<li>
						<a href="portfolio.html" class="c-offer__item bg-yellow">
							<h4 class="o-lead o-lead--3">
								<strong>Logo, branding</strong>
							</h4>
							
							<figure>
								<img src=<%= require("./img/photos/oferta/logo.jpg") %> alt="" width="262" height="258">

								<figcaption>
									<span class="o-btn o-btn--blackoutline">Zobacz</span>
								</figcaption>
							</figure>
						</a>
					</li>
					
					<li>
						<a href="portfolio.html" class="c-offer__item bg-green">
							<h4 class="o-lead o-lead--3">
								<strong>WWW</strong>
							</h4>
							
							<figure>
								<img src=<%= require("./img/photos/oferta/www.jpg") %> alt="" width="262" height="258">

								<figcaption>
									<span class="o-btn o-btn--blackoutline">Zobacz</span>
								</figcaption>
							</figure>
						</a>
					</li>
					
					<li>
						<a href="portfolio.html" class="c-offer__item bg-green">
							<h4 class="o-lead o-lead--3">
								<strong>Marketing</strong>
							</h4>
							
							<figure>
								<img src=<%= require("./img/photos/oferta/marketing.jpg") %> alt="" width="262" height="258">

								<figcaption>
									<span class="o-btn o-btn--blackoutline">Zobacz</span>
								</figcaption>
							</figure>
						</a>
					</li>
					
					<li>
						<a href="portfolio.html" class="c-offer__item bg-orange">
							<h4 class="o-lead o-lead--3">
								<strong>Grafika reklamowa</strong>
							</h4>
							
							<figure>
								<img src=<%= require("./img/photos/oferta/logo.jpg") %> alt="" width="262" height="258">

								<figcaption>
									<span class="o-btn o-btn--blackoutline">Zobacz</span>
								</figcaption>
							</figure>
						</a>
					</li>
					
					<li>
						<a href="portfolio.html" class="c-offer__item bg-blue">
							<h4 class="o-lead o-lead--3">
								<strong>Pozycjonowanie</strong>
							</h4>
							
							<figure>
								<img src=<%= require("./img/photos/oferta/logo.jpg") %> alt="" width="262" height="258">

								<figcaption>
									<span class="o-btn o-btn--blackoutline">Zobacz</span>
								</figcaption>
							</figure>
						</a>
					</li>
					
					<li>
						<a href="portfolio.html" class="c-offer__item bg-violet">
							<h4 class="o-lead o-lead--3">
								<strong>Filmy promocyjne</strong>
							</h4>
							
							<figure>
								<img src=<%= require("./img/photos/oferta/logo.jpg") %> alt="" width="262" height="258">

								<figcaption>
									<span class="o-btn o-btn--blackoutline">Zobacz</span>
								</figcaption>
							</figure>
						</a>
					</li>
				</ul>
			</div>
		</div>
	</div>
	
	<% include ./src/includes/opinions %>
	<% include ./src/includes/whatyouneed %>
	<% include ./src/includes/footer %>

</div>


</body>
</html>


